@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
.sidebar {
  width: 250px;
  height: 100vh;
  background: linear-gradient(180deg, #0f2027, #203a43, #2c5364); /* Oceanic Blue Gradient */
  padding-top: 20px;
  color: white;
  position: fixed;
  left: 0;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.3);
}

.sidebar ul {
  list-style: none;
  padding: 0;
}


.sidebar li {
  padding: 15px 20px;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border-radius: 8px;
  text-align: left;
}

.sidebar li:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 15px #00f7ff; /* Neon glow effect */
  transition: 0.3s ease-in-out;
}
.side-icon{
  width:20px;
  height:20px;
  /* padding-top: 2px; */
}
.app-name{
  margin-left: 40px;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  color: white;
  transition: text-shadow 0.3s ease;
}
.app-name:hover{
  text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 20px #ff00ff;
}
.sidebar-profile {
  margin-top:347px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  cursor: pointer;
  /* border: 1px solid #eee; */
  background: transparent;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.3);
}

.sidebar-profile:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 15px #00f7ff; /* Neon glow effect */
  transition: 0.3s ease-in-out;
}

.profile-picture {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-name {
  font-weight: bold;
  font-size: 14px;
}
